# mac
.DS_Store

# JetBrains
/.idea/*
!/.idea/codeStyles
!/.idea/codeStyleSettings.xml

# python
/.venv
/*.egg-info
__pycache__/

# external libraries (e.g. tensorflow)
/lib

# models
/model/*/export
/model/*/import
/model/*/training

# dev data & backup
/data
