# JetBrains
/.idea/*
!/.idea/codeStyles
!/.idea/codeStyleSettings.xml

# python
/.venv
/*.egg-info
__pycache__/

# dev data & backup
/data/*/*
!/data/ducky/input
!/data/*/label.pbtxt
!/data/*/tune.csv

# external libraries (e.g. tensorflow)
/lib

# models
/model/**/export
/model/**/import
/model/**/training

# mac
.DS_Store
