# JetBrains
/.idea/*
!/.idea/codeStyles
!/.idea/codeStyleSettings.xml

# python
/.venv
/*.egg-info
__pycache__/

# dev data & backup
/data/*/*
!/data/*/raw
!/data/*/*.*

# external libraries (e.g. tensorflow)
/lib

# models
/model/*/*
!/model/*/*.*

# mac
.DS_Store
